.scrollable {
height: 65vh;
overflow: scroll;
margin-bottom: 10px
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
border: 2px solid white;
box-shadow: inset 0 0 2.5px 2px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb{
    background:linear-gradient(
        45deg,
        rgb(117, 142, 165),
        rgb(0, 195, 255)
    );
    border-radius: 3px;
}

#chartCont{
    height: 65vh;
    /* margin-left: 5px; */
    background-color: white;

}
#modalHeader{
    background:linear-gradient(
    45deg,
     rgb(0, 195, 255),
     rgb(117, 142, 165)
    );
}

.chartParent{
        height: 65vh;
        /* margin-left: 5px; */
        background-color: white;
}
    
#buyBtn{
font-size: 12px;

 float: right;
}

#underButtons{
    background-color: white;
   border-radius: 4px;
   margin-bottom: 2px;
}

#scoreBadgeDiv {
    margin-top: 5px;
}