.eduCard {
    position: relative;
    width: 30rem;
    height: 20rem;
    text-align: center;
    justify-content: center;
    border: 2px solid whitesmoke;
    padding: 2px;
    margin: 1px;
}
.eduCard-title {
    text-transform: uppercase;
    color: aliceblue;
    font-size: 2.5rem;
    font-weight: bold;
    /* padding: 5rem 0; */
}

/* .card-container {
    position: relative;
    overflow-wrap: normal;
    text-align: center;
    width: 100%;
    margin: 0;
} */

